{# app/Resources/views/default/new.html.twig #}
{# form_start(form) muestra la etiqueta <form> de apertura del formulario #}
{# form_widget(form) Renders all the fields, which includes the field element itself, a label and any validation error messages for the field. #}
{# form_end(form) Renders the end tag of the form and any fields that have not yet been rendered, in case you rendered each field yourself. This is useful for rendering hidden fields and taking advantage of the automatic CSRF Protection. #}

{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}

<div class="row">
	<div class="col-sm-8">
		{{ form_start(form) }}     
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
</div>

{% endblock %}