{# app/Resources/views/T5b/T5b_id.html.twig #}

        {% extends '::base.html.twig' %}
        {% block title %}<title>T5b Visualización de producto por id</title>{% endblock %}
    
        {% block content %}
           <h3>El producto elegido es:</h3>
           <p>
           Identificador:{{ identificador }}<br>
           Nombre:{{ nombre }}<br>
           Precio:{{ precio }}<br>
           Descripcion:{{ descripcion }}<br>
           </p>
		{% endblock %}	
